.Interesting{
    position: relative;

    &__top{
        margin-bottom: 90px;
    }

    &__pro{
        li+li{
            margin-top: 30px;
        }
    }

    &__text{
        @include fontAll(16px,400,$link);
        line-height: 30px;
        padding-top: 20px;
    }
}


@media (max-width:1150px){
    .Interesting__top{
        margin-bottom: 50px;
    }
}