// gallery start

.gallery{
    position: relative;
    margin-bottom: 100px;
    width: 100%;
    height: auto;
    background-repeat: no-repeat;
    background-size:cover;
    background-position:top right;

    &__item{
        width: 250px;
        height: auto;
        margin-bottom: 10px;
        flex: 0 0 18%;
    }

    &__imges{
        @include fiximg(100%,230px,true);
        position: relative;
        z-index: 1;
        border-radius: 6px;
        -webkit-border-radius: 6px;
        -moz-border-radius: 6px;
        -ms-border-radius: 6px;
        -o-border-radius: 6px;
        img{
            position: absolute;
            top: 0;
            left: 0;
            z-index: -1;
            border-radius: 6px;
            -webkit-border-radius: 6px;
            -moz-border-radius: 6px;
            -ms-border-radius: 6px;
            -o-border-radius: 6px;
        }

        span{
            width: 100%;
            height: 100%;
            background: linear-gradient(0deg, rgba(0, 112, 152, 0.5), rgba(0, 112, 152, 0.5));
            position: absolute;
            top: 0;
            opacity: 0;
            left: 0;
            border-radius: 6px;
            -webkit-border-radius: 6px;
            -moz-border-radius: 6px;
            -ms-border-radius: 6px;
            -o-border-radius: 6px;
             @extend%transition;

            i{
                font-size: 18px;
                color:#fff;
                font-weight: 600;
                background-color:rgba(255, 67, 97, 0.7);
                width: 60px;
                height: 60px;
                border-radius:50px;
                -webkit-border-radius:50px;
                -moz-border-radius:50px;
                -ms-border-radius:50px;
                -o-border-radius:50px;
                text-align: center;
                line-height: 58px;
                position: absolute;
                top: 50%;
                left: 50%;
                transform: translate(-50%,-50%);
                -webkit-transform: translate(-50%,-50%);
                -moz-transform: translate(-50%,-50%);
                -ms-transform: translate(-50%,-50%);
                -o-transform: translate(-50%,-50%);
            }
        }
    }

    &__title__h3{
        @include fontAll(16px,600,$link);
        line-height: 110%;
        padding-top: 18px;
        @extend%transition;
        padding-bottom: 10px;
    }

    &__title__h4{
         @include fontAll(14px,600,$blue);
    }

    &__pro{
        display: flex;
        align-items:flex-start;
        grid-gap: 20px;
        flex-wrap: wrap;
    }
}


.gallery__item a:hover > .gallery__imges span{
    opacity: 1;
}

.gallery__item a:hover > .gallery__title__h3{
    color:$blue;
}

// gallery end

@media (max-width:1300px){
    .gallery{
        margin-bottom: 50px;
    }

    .gallery__item {
        flex: 0 0 23%;
    }
}


@media (max-width:1000px){
    .gallery__item {
        flex: 0 0 31%;
    }
}


@media (max-width:800px){
    .gallery__item {
        flex: 0 0 48%;
    }

    .gallery__imges {
        height: 180px;
    }
}


@media (max-width:600px){
    .gallery{
        margin-bottom: 30px;
        background-image:none !important;
    }

    .gallery__item {
        flex: 0 0 47%;
    }
}


@media (max-width:450px){
    .gallery__item {
        flex: 0 0 47%;
    }

    .gallery__imges {
        height: 160px;
    }

    .gallery__pro {
        grid-gap: 15px;
    }
}


@media (max-width:450px){
    .gallery__item {
        flex: 0 0 100%;
    }

    .gallery__imges {
        height: 180px;
    }

    .gallery__pro {
        grid-gap: 15px;
    }
}