// video_gallery start

.video_gallery{
    position: relative;
    margin-bottom: 100px;
    width: 100%;
    height: auto;
    background-repeat: no-repeat;
    background-size:contain;
    background-position:top right;

    &__imges{
        position: relative;
        z-index: -1;
        @include fiximg(300px,200px,true);
        border-radius: 6px;
        -webkit-border-radius: 6px;
        -moz-border-radius: 6px;
        -ms-border-radius: 6px;
        -o-border-radius: 6px;
        img{
            position: absolute;
            top: 0;
            left: 0;
            border-radius: 6px;
            -webkit-border-radius: 6px;
            -moz-border-radius: 6px;
            -ms-border-radius: 6px;
            -o-border-radius: 6px;
            z-index: -1;
        }

        span{
            width: 100%;
            height: 100%;
            background: linear-gradient(0deg, rgba(0, 112, 152, 0.5), rgba(0, 112, 152, 0.5));
            position: absolute;
            top: 0;
            opacity: 0;
            left: 0;
            border-radius: 6px;
            -webkit-border-radius: 6px;
            -moz-border-radius: 6px;
            -ms-border-radius: 6px;
            -o-border-radius: 6px;
             @extend%transition;

            i{
                font-size: 18px;
                color:#fff;
                font-weight: 600;
                background-color:rgba(255, 67, 97, 0.7);
                width: 60px;
                height: 60px;
                border-radius:50px;
                -webkit-border-radius:50px;
                -moz-border-radius:50px;
                -ms-border-radius:50px;
                -o-border-radius:50px;
                text-align: center;
                line-height: 58px;
                position: absolute;
                top: 50%;
                left: 50%;
                transform: translate(-50%,-50%);
                -webkit-transform: translate(-50%,-50%);
                -moz-transform: translate(-50%,-50%);
                -ms-transform: translate(-50%,-50%);
                -o-transform: translate(-50%,-50%);
            }
        }
    }

    &__title__h3{
        @include fontAll(16px,600,$link);
        margin-top: 15px;
        line-height: 100%;
        @extend%transition;
    }

    &__pro{
        display: flex;
        grid-gap: 40px;
        align-items:flex-start;
        flex-wrap: wrap;
        margin-top: 60px;

        li{
            flex: 0 0 22%;
        }
    }

    &__top{
       .carousel {
  color: #32325d;

  --carousel-button-bg: #fff;
  --carousel-button-shadow: 0 2px 1px -1px rgb(0 0 0 / 20%),
    0 1px 1px 0 rgb(0 0 0 / 14%), 0 1px 3px 0 rgb(0 0 0 / 12%);

  --carousel-button-svg-width: 20px;
  --carousel-button-svg-height: 20px;

  --carousel-button-svg-stroke-width: 2.5;

  border-top-right-radius: 8px;
  border-bottom-right-radius: 8px;
}

.carousel__button {
  z-index: 2;
  box-shadow: 0 6px 12px -2px rgb(50 50 93 / 25%),
    0 3px 7px -3px rgb(0 0 0 / 30%);
}

.carousel__button:focus {
  outline: none;
  box-shadow: 0 0 0 4px #A78BFA;
}

.carousel__button.is-prev {
  left: -1.5rem;
  display: none;
}

.carousel__button.is-next {
  right: -1.5rem;
  display: none;
}



.carousel__slide {
  width: 100% !important;
  padding: 0 !important;
  display: flex;
  flex-direction: column;
  justify-content: center;
  iframe{
      width: 100%;
      border-radius:6px;
      -webkit-border-radius:6px;
      -moz-border-radius:6px;
      -ms-border-radius:6px;
      -o-border-radius:6px;
      height: 600px;
    }
}

.carousel__image-container {
  position: absolute;
  top: 0;
  left: 0;
  right: 55%;
  bottom: 0;
  z-index: 1;
  overflow: hidden;

  border-top-left-radius: 8px;
  border-bottom-left-radius: 8px;
}

.carousel__image-container ul {
  margin: 0;
  padding: 0;
  overflow: hidden;
  height: 100%;
  width: 100%;
  background: currentColor;
}

.carousel__image-container li {
  position: absolute;
  width: 100%;
  height: 100%;
  opacity: 0;
  transition: opacity 0.35s;

  display: flex;
  align-items: center;
  justify-content: center;
  padding: 0 50px 0 50px;

  user-select: none;
}

.carousel__image-container li:before {
  content: "";
  position: absolute;
  left: 0;
  top: 0;
  right: 0;
  bottom: 0;
  background: currentColor;
  opacity: 0.7;
  z-index: 1;
}

.carousel__image-container li.is-active {
  opacity: 1;
}

.carousel__image-container li h3 {
  color: #fff;
  z-index: 1;
}

.carousel__image-container li img {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  object-fit: cover;
}

@media (min-width: 960px) {
  .carousel__image-container ul {
    transform: translateX(-60px) skewX(-12deg);
  }

  .carousel__image-container li {
    transform: translateX(60px) skewX(12deg);
    padding-right: 100px;
  }
}

#logoBar a {
  width: 100%;
  height: 100%;
  display: block;
}
    }
}

.video_gallery__pro li a:hover > .video_gallery__imges span{
    opacity: 1;
}

.video_gallery__pro li .active > .video_gallery__imges span{
    opacity: 1;
}

.video_gallery__pro li .active > .video_gallery__title__h3{
   color:$blue;
}

.video_gallery__pro li a:hover > .video_gallery__title__h3{
   color:$blue;
}

// video_gallery end


@media (max-width:1450px){
    .video_gallery__pro li {
        flex: 0 0 22%;
    }

    .video_gallery__imges{
        width: 100%;
    }
}


@media (max-width:1300px){
   .video_gallery{
       margin-bottom: 50px;
   }

   .video_gallery__pro {
       grid-gap: 20px;
   }

    .video_gallery__pro li {
        flex: 0 0 23%;
    }
}


@media (max-width:1050px){
    .video_gallery__imges {
        height: 170px;
    }

    .video_gallery__top .carousel__slide iframe {
        height: 450px;
    }
}

@media (max-width:900px){
    .video_gallery__pro li {
        flex: 0 0 31%;
    }
}


@media (max-width:700px){
    .video_gallery__pro li {
        flex: 0 0 30%;
    }

    .video_gallery__imges {
        height: 140px;
    }

    .video_gallery__top .carousel__slide iframe {
        height: 350px;
    }
}


@media (max-width:600px){
    .video_gallery__imges {
        height: 120px;
    }

    .video_gallery__top .carousel__slide iframe {
        height: 300px;
    }

    .video_gallery{
       margin-bottom: 30px;
   }

   .video_gallery__title__h3 {
       font-size: 15px;
   }

   .video_gallery{
        background-image:none !important;
   }
}


@media (max-width:550px){
    .video_gallery__imges {
        height: 120px;
    }

    .video_gallery__pro li {
        flex: 0 0 47%;
    }

    .video_gallery__top .carousel__slide iframe {
        height: 300px;
    }
}

@media (max-width:400px){
    .video_gallery__imges {
        height: 100px;
    }

    .video_gallery__pro li {
        flex: 0 0 46%;
    }

    .video_gallery__top .carousel__slide iframe {
        height: 200px;
    }

    .video_gallery__imges span i {
        width: 50px;
        height: 50px;
        line-height: 48px;
    }

    .video_gallery__title__h3 {
       font-size: 14px;
   }
}


@media (max-width:350px){
    .video_gallery__imges {
        height: 120px;
    }

    .video_gallery__pro li {
        flex: 0 0 100%;
    }
}